<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
hi,i am anish!
<br>
<h1>Welcome to his text analyser</h1>
<form action='/analyse' method='get'>
    <textarea name='text' style='width: 1508px; height: 150px;'></textarea>
    <input type="checkbox" name="removepunc">Remove Punctuations<br><br>
    <input type="checkbox" name="capitalise">Captalise<br><br>
    <input type="checkbox" name="spaceremove">Remove Spaces<br><br>
    <input type="checkbox" name="newlineremover">NewLine Remover<br><br>
    <input type="checkbox" name="charcount">Counts Characters<br><br>
    <button type='submit'> Analyse Text</button>
</form>
</body>
</html>
